nemo_toolkit[all]
prettyprinter # for testing
pytest # for testing
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
